<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="VCMSdb" connectionString="Server=.;Database=VeterinaryClinic;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <userSettings>
  <AppUI.Properties.Settings>
   <setting name="State" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="Size" serializeAs="String">
    <value>1358, 710</value>
   </setting>
   <setting name="Location" serializeAs="String">
    <value>100, 70</value>
   </setting>
   <setting name="ClientListComboBox" serializeAs="String">
    <value>Overdue / Late</value>
   </setting>
  </AppUI.Properties.Settings>
 </userSettings>
</configuration>